$green1: #a5d6a7;
$green2: #4caf50;

$orange1: #f4511e;

$black1: #616161;
$black2: #424242;
$black3: #212121;

$bluegrey1: #b0bec5;
$bluegrey2: #263238;

$teadark1: #80cbc4;
$teadark2: #00695c;

$fontGothic: Century Gothic, sans-serif;